<!DOCTYPE html>
<html lang="en">
<head>
    <!-----META TAGS------>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Making the Legal profession more  effective, accesible and flexible for all">
    <meta name="keywords" content="legal, law, legal tech, tech law, law quiz, legal practice, legal technology, legal news">
    <!-----Title of Page------->
    <title>LegalRoom</title>

    <!----------   FONT FAMILY LINKS ------------------>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

<!---------- EXTERNAL CSS LINKS ---------->
<link rel="stylesheet" href="public/css/reset.css"/>
<link rel="stylesheet" href="public/css/normalize.css"/>
<link rel="stylesheet" href="public/css/style.css"/>
</head>
<body>

    <!--------    Header    ----------->
<header class="header">

    <!-----Navigation ----------->
<nav class="navigationbar">
    <!----Name Logo ----->
   <h1 class="logo" >  <b style="color:darkmagenta"> <span class="fas fa-gavel fa-rotate-180 fa-1x"></span>egal</b><b style="color:#000">Room </b></h1>
     
    <!----Links-->
   <ul class="link-list">     
 <li> <a href="/">Home </a></li>
   <li> <a href=""> About Us </a> </li>
     <li> <a href="">Services <span class="fas fa-caret-down"></a></span> 

      <!----Services DropDown-->
       <ul class="services_dropdown">
        <li><a href="#"> Get a Legal Document</a></li>
          <li><a href="#">Find a Lawyer</a></li>
          <li><a href="#">Join Community</a></li>
          <li> <a href="/questions">Questions</a> </li>
          <li> <a href="/ask" class="active">Ask a Question</a></li>
          <li><a href="#">Create a Meeting </a></li>
          <li><a href="#">Users</a></li>
       </ul>
       <!---------------------->
    </li>
     <li><a href="/contact">Contact </a></span></li>
    <li> <a href="#">Login</a></li> 
    <li> <a href="#">SignUp</a> </li>
  <li>  <a href="#">FAQ</a> </li>
  
</ul>

</nav>


<!------Navigation Bar II------>
<nav class="navigationbar_two">
    <!----Name Logo ----->
   <h1 class="logo" >  <b style="color:darkmagenta"> <span class="fas fa-gavel fa-rotate-180 fa-1x"></span>egal</b><b style="color:#000">Room </b></h1>
     
    <!----Links-->
   <ul class="link-list">     
  <li> <a href="/">Home </a></li>
   <li> <a href=""> About Us </a> </li>
     <li> <a href="">Services <span class="fas fa-caret-down"></a></span> 
  
      <!----Services DropDown-->
       <ul class="services_dropdown">
        <li><a href="#"> Get a Legal Document</a></li>
          <li><a href="#">Find a Lawyer</a></li>
          <li><a href="#">Join Community</a></li>
          <li> <a href="/questions">Questions</a> </li>
          <li> <a href="/ask" class="active">Ask a Question</a></li>
          <li><a href="#">Create a Meeting </a></li>
          <li><a href="#">Users</a></li>
       </ul>
       <!---------------------->
    </li>
     <li><a href="/contact">Contact </a></span></li>
    <li> <a href="#">Login</a></li> 
    <li> <a href="#">SignUp</a> </li>
  <li>  <a href="#">FAQ</a> </li>
  
  </ul>
  
  </nav>
</header>
   <h1 class="question-header" style="margin:6rem">Ask a Question</h1> 

   <div>
    <p><strong>User Name</strong>: <%= user.userName %></p>
    <p><strong>Email</strong>: <%= user.email %></p>
    <a href="/logout" class="col-3 btn btn-primary">Logout</a>
</div>

   <section class = "ask_section">
    <section class="ask_content" style="margin-top:7rem">
     


    <form action="/question/addQuestion" enctype="multipart/form-data" method="POST">
      
        <label for="questionHeader"> Title </label>  
      <input type="text" class="input_box" placeholder="Title of the Question" name="title" id="title">
       <br>
      <label for="question"> Body of The Question</label> 
       <textarea class="questionBody" name="question_body" id="question_body" placeholder="Start your question with Who, Where, How, What, Why"></textarea>
       <div class="mb-3">
        <label for="imgUpload" class="form-label">Image</label>
        <input type="file" class="form-control" id="imageUpload" name="file">
      </div>
       <input type="submit" value="Add Question" name="addQuestion" class="addQuestion">
        <input type="submit" value="Cancel" name="cancel" class="cancelQuestion">
    </form>
  

  <div class="col-6">
      <ul class="row list-unstyled">
      <% for(var i=0; i<questions.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <a href="/question/<%= questions[i]._id%>">
            <img class="img-fluid" src="<%= questions[i].image%>">
          </a>
        </li>
      <% } %>
      </ul>
      <div class="row justify-content-center mt-5">
     
      </div>  
    </div> 



    </section>

    <section class="basic_steps"> 
   <section class="steps_container">
       <div class ="steps_container_div">
           <h6 class="step_title"> Step 1:  Input the Title of your Question</h6> 
           <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id ducimus, explicabo quas corrupti qui doloremque soluta saepe delectus, quidem labore ut magni, eaque ipsum inventore in accusantium blanditiis nisi? Est?</p>
       </div>
       <div class ="steps_container_div">
        <h6 class="step_title"> Step 2: Input the Title of your Question</h6> 
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id ducimus, explicabo quas corrupti qui doloremque soluta saepe delectus, quidem labore ut magni, eaque ipsum inventore in accusantium blanditiis nisi? Est?</p>
    </div>
    <div class ="steps_container_div">
        <h6 class="step_title"> Step 3: Input the Title of your Question</h6> 
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id ducimus, explicabo quas corrupti qui doloremque soluta saepe delectus, quidem labore ut magni, eaque ipsum inventore in accusantium blanditiis nisi? Est?</p>
    </div>
</section>
 </section>

   </section>

   <!---------        Footer    ------------->
<footer class="footer_container reveal fade-bottom">
    <section class="footer_side">
     <h1 class="logo">  <b style="color:darkmagenta"> <span class="fas fa-gavel fa-rotate-180 fa-1x"></span>egal</b><b style="color:#000">Room </b></h1>
     <h2 class="copyright">&copy;2022 Shodiya Mary. All rights reserved.</h2>
     
       <ul class="social_icon">
            
         <li>  <a href="https://web.facebook.com/mary.shodiya1/"><i class="fab fa-facebook-square"></i></a> </li>
           <li><a href="https://www.instagram.com/maryahdeh/"><i class="fab fa-instagram"></i></a></li>
           <li><a href="https://www.twitter.com/addvokeight"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/mary-shodiya/"><i class="fab fa-linkedin"></i></a></li>
           </ul>
    </section>
     
    <section class="footer_side">
      <h1 class="getinfo"> Get In Touch </h1>
      <h2 class="contact_address"> Oseni, Lawanson, Lagos, Nigeria</h2> 
      <h2 class="contact_address"> Colorado, Colorado, USA</h2>
    </section>
 
    <section class="footer_side">
     <h1 class="getinfo"> Learn More </h1>
     <ul class="footer_link">
     <li> <a href="">About Us</a></li> 
     <li> <a href="">Terms Of Use</a> </li>
   <li>  <a href="">Privacy Policy</a> </li>
  </ul>
   </section>
 
   <section class="footer_side">
     <h1 class="getinfo"> Our Newsletter </h1>
     <h6 class="subscribe_header"> Subscribe to our newsletter </h6>
   <input type="email" placeholder="Email Address" class="subscribe">
   <input type="submit" value="Subscribe"> 
   </section>
    </footer>

    <!-------Font Awesome Link---->
<script src="https://kit.fontawesome.com/4448a8754e.js" crossorigin="anonymous"></script>
   
<!----External JS Link---->
<script src='public/js/main.js'></script>
</body>

</html>