<%- include('partials/profileheader') -%>

    
                
<br/>

                  <div class="mt-6 justify-center">
                    <div class="form-outline mt-9">
                      <form action="/comment/createComment" method="POST">
                      <textarea class="form-control" id="comment" name="comment" rows="8"  placeholder="Enter your Reply"></textarea>
                      <label class="form-label" for="textAreaExample3">Type your Comment </label>
                    </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content pt-3">
                
                    <button type="submit" class="btn btn-warning btn-lg ms-2">Reply</button>
                  </div>
                </form> 