<!DOCTYPE html>
<html lang="en">
<head>
    <!-----META TAGS------>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Making the Legal profession more  effective, accesible and flexible for all">
    <meta name="keywords" content="legal, law, legal tech, tech law, law quiz, legal practice, legal technology, legal news">
    <!-----Title of Page------->
    <title>LegalRoom</title>

    <!----------   FONT FAMILY LINKS ------------------>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

<!--EXTERNAL CSS LINKS---> 
<link rel="stylesheet" href="public/css/reset.css"/>
<link rel="stylesheet" href="public/css/normalize.css"/>
<link rel="stylesheet" href="public/css/style.css"/>



<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
  rel="stylesheet"
/>


<link rel="stylesheet" href="public/css/output.css" type="text/css" />
</head>
<body>
    




 

  <section class="mb-40">
     <!--- FIRST NAVIGATION -->
    <nav class="navbar navbar-expand-lg shadow-md py-2 bg-white relative flex items-center w-full justify-between">
      <div class="px-6 w-full flex flex-wrap items-center justify-between">
        <div class="flex items-center">
          <button
            class="navbar-toggler border-0 py-3 lg:hidden leading-none text-xl bg-transparent text-gray-600 hover:text-gray-700 focus:text-gray-700 transition-shadow duration-150 ease-in-out mr-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContentY"
            aria-controls="navbarSupportedContentY"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
           <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              class="w-5"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
              ></path>
            </svg>
          </button>
          <a class="navbar-brand text-blue-600" href="#!">
         
            <h1 class="logo">  <b style="color:darkmagenta"> <span class="fas fa-gavel fa-rotate-180 fa-1x  viewBox="0 0 576 512"></span>egal</b><b style="color:#000">Room </b></h1>
              <path fill="currentColor" d="M485.5 0L576 160H474.9L405.7 0h79.8zm-128 0l69.2 160H149.3L218.5 0h139zm-267 0h79.8l-69.2 160H0L90.5 0zM0 192h100.7l123 251.7c1.5 3.1-2.7 5.9-5 3.3L0 192zm148.2 0h279.6l-137 318.2c-1 2.4-4.5 2.4-5.5 0L148.2 192zm204.1 251.7l123-251.7H576L357.3 446.9c-2.3 2.7-6.5-.1-5-3.2z"></path>
          
          </a>
        </div> 
        <div class="navbar-collapse collapse grow items-center" id="navbarSupportedContentY">
          <ul class="navbar-nav mr-auto lg:flex lg:flex-row">
            <li class="nav-item">
              <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out" href="/" data-mdb-ripple="true" data-mdb-ripple-color="light">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out" href="/contact" data-mdb-ripple="true" data-mdb-ripple-color="light">Contact</a>
            </li>
            <li class="nav-item mb-2 lg:mb-0">
              <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out" href="/questions" data-mdb-ripple="true" data-mdb-ripple-color="light">Questions</a>
            </li>
            <li class="nav-item mb-2 lg:mb-0">
              <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out" href="/logout" data-mdb-ripple="true" data-mdb-ripple-color="light">Logout</a>
            </li>
            <li class="nav-item mb-2 lg:mb-0">
              <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">FAQS</a>
            </li>
          </ul>
        </div>
        <div class="flex items-center items-center lg:ml-auto">
          <a href="/login" class="inline-block px-6 py-2.5 mr-2 bg-transparent text-#00000033-600 font-medium text-xs leading-tight uppercase rounded hover:text-purple-700 hover:bg-mediumpurple-100 focus:bg-#00000033-100 focus:outline-none focus:ring-0 active:bg-mediumpurple-200 transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light">Login</a>
         <a href= "/signup" class="hvr-icon-down inline-block px-6 py-2.5 bg-mediumpurple-600 text-black font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-mediumpurple-700 hover:shadow-lgfocus:bg-mediumpurple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-darkpurple-800 active:shadow-lg transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light">Sign up <i class="fa fa-arrow-down hvr-icon"></i>
        </a>
        
           
        </div>
      </div>
    </nav>

 


    <div class="px-6 py-12 md:px-12 bg-gray-100 text-gray-800 text-center lg:text-left">
      <div class="container mx-auto xl:px-32">
        <div class="grid lg:grid-cols-2 gap-12 flex items-center">
          <div class="mt-12 lg:mt-0">
            <h6 class="text-4xl md:text-5xl xl:text-6xl font-bold tracking-tight mb-12">A Legal Community where legal professionals and non professionals can  <br /><div class="changetext">
              <div><div>network </div></div> 
             <div> <div> learn </div></div> 
             <div> <div> connect </div></div>
             </div> </h6>
            <p class="text-gray-600">
              We aim to bring the legal industry closer, create a network with other legal professionals around the world, make the legal community fun, more flexible and effective for everyone.
             <br/> <button class="get_started skew-forward"> <a href="/login">Get Started</a></button>
            </p>
          </div>

          <div class="mb-12 lg:mb-0">
           <!--<div class="block rounded-lg shadow-lg bg-white px-6 py-12 md:px-12">-->
      
              <img class="des_image" src="public/images/3.jpeg">


            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->






<!----SERVICES Section-->


<section class="services container mx-auto">
  <h1 class="services_header reveal fade-bottom"> WHAT WE OFFER </h1>
   <section class="services_container_box reveal fade-left grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="services_container justify-content">
    <img class="services_image" src="public/images/undraw_social_networking_re_i1ex.svg">
    <h2 style="color:darkmagenta">Network  </h2>
    <p> The community is a friendly one with the best of lawyers from around the world. Users have the opportunity to interact with a legal professional on the go. </p>
    <a href="" style="color:darkmagenta">Learn More <span class="fas fa-arrow-right"></span></a>
</div>

<div class="services_container justify-content">
  <img class="services_image" src="public/images/undraw_active_support_re_b7sj.svg">
  <h2 style="color:forestgreen"> Seek Legal Aid </h2>
  <p> A room full of lawyers without an option for legal aid is not legal at all. In the inner bench, users can search through the legal room for lawyers of their choice.  </p>
  <a href="" style="color:forestgreen">Learn More <span class="fas fa-arrow-right"></span></a>
</div>

<div class="services_container  justify-content">
  <img class="services_image" src="public/images/undraw_sharing_knowledge_03vp.svg">
  <h2 style="color:firebrick">Share Knowledge </h2>
  <p> Again, a room of lawyers is definitely a room of knowledge. Users can learn, share and find answers to all legal questions. All you have to do is Ask and Search!.  </p>
  <a href="" style="color:firebrick">Learn More <span class="fas fa-arrow-right"></span></a>
</div>

<div class="services_container  justify-content">
  <img class="services_image" src="public/images/undraw_connecting_teams_re_hno7.svg">
  <h2 style="color:mediumslateblue"> Connect </h2>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum expedita doloremque eius. Quaerat tempore veniam hic aliquam quisquam. Vero, perspiciatis! Recusandae ipsa iure quia facilis voluptatibus, quod sequi voluptatem quis!</p>
  <a href="" style="color:mediumslateblue">Learn More <span class="fas fa-arrow-right"></span></a>
</div>

</section>


  <!----REVIEWS SECTION
 <section class="reviews reveal fade-right">
   <h1 class="reviews_title">HAPPY LEGAL ROOMIES</h1>
   <h1 class="reviews_header">Still having doubts? Here is a look at what some of our subcribers have to say </h1> 
   <section class="reviews_container_box">
     <div class="reviews_container"> 
       <img class="ratings_image" src="public/images/ratings.png">
       <p class="reviews_description">  "Really top notch application, I have been able to meet other colleagues from outside my country. Incredible application</p>
       <div class="reviews_image_div"> <img class="reviews_image" src="public/images/19.png"> </div> 
       <h2 class="person_id">Adeola Adegbite</h2>
       <h3 class="person_job"> Legal Associate, AAP & Co, Lagos, Nigeria </h3>
       </div>

       <div class="reviews_container"> 
       <img class="ratings_image" src="public/images/ratings.png">
       <p class="reviews_description"> Love this application so much, most of my freelance gigs have come from there and I just started using the app recently</p>
       <div class="reviews_image_div"> <img class="reviews_image" src="public/images/20.png"> </div>
       <h2 class="person_id">Jace Sydney</h2>
       <h3 class="person_job"> Brenda Partners, Ontario, Canada </h3>
       </div>

       <div class="reviews_container"> 
       <img class="ratings_image" src="public/images/ratings.png">
       <p class="reviews_description">  Accessiblity 100%, Functionality 100%, I have recommended this application to my collegues and they have testified positively</p>
       <div class="reviews_image_div"> <img class="reviews_image" src="public/images/21.png"> </div>
       <h2 class="person_id">Bolatito Coker</h2>
       <h3 class="person_job"> F & T Associates, Abuja, Nigeria </h3>
       </div>

       <div class="reviews_container"> 
       <img class="ratings_image" src="public/images/ratings.png">
       <p class="reviews_description">  I am a property lawyer and after five years of practice without gig, I got my biggest deal from this application. Thank you!</p>
       <div class="reviews_image_div"> <img class="reviews_image" src="public/images/22.png"> </div>
       <h2 class="person_id">PrinceWill</h2>
       <h3 class="person_job"> PrinceWill RealEstates </h3>
       </div>

       <div class="reviews_container"> 
       <img class="ratings_image" src="public/images/ratings.png">
       <p class="reviews_description">  Legal Room is lifechanging, from the job platform, I got a Job for Legal Associate and was promoted shortly after.</p>
       <div class="reviews_image_div"> <img class="reviews_image" src="public/images/19.png"> </div>
       <h2 class="person_id">Brenda Mills</h2>
       <h3 class="person_job"> Sydney Legal Inc, USA</h3>
       </div>

       <div class="reviews_container"> 
       <img class="ratings_image" src="public/images/ratings.png">
       <p class="reviews_description">I ama proud legal roomie, I come here to unwind and play the games, I ask questions and within minutes get answers.</p>
       <div class="reviews_image_div"> <img class="reviews_image" src="public/images/20.png"> </div>
       <h2 class="person_id">Syvelster Simon</h2>
       <h3 class="person_job"> Syvelster & Co, Atlanta </h3>
       </div>
   </section>--->


   </section>

   <br/>
    

 <!----JOin Our Community
       <article class="join_us reveal fade-bottom">
       <h2 class="join_header"> Join Our Community</h2>
       <h1 class="join_description"> We are trusted by over 1000+ clients. <br>Join them now and be a part of the next-level legal practitioners  </h1>
       <input type="submit" value="Join Our Community" class="join_btn" />
       </article>-->

    
       <!---FAQ Section-->
      


<div class="container my-24 px-6 mx-auto">

   <section class="mb-32 text-gray-800">
    <div class="grid md:grid-cols-2 gap-4">
      <div class="mb-6 md:mb-0">
        <h2 class="text-3xl font-bold mb-6">Frequently asked questions</h2>
        <p class="text-gray-500">
          Didn't find your answer in the FAQ?
          <a href="/contact"
            class="text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 transition duration-300">Contact
            our team</a>. We will respond promptly
        </p>
          </div>

  
        <div class="mb-6 md:mb-0">
          <div class="min-h-screen bg-gray-100">
            <div class="pt-20 max-w-md mx-auto px-8 space-y-2">
              <details class="p-4 rounded-lg"> 
                <summary class="text-sm leading-6 font-semibold" > Is Legal Room Free? </summary>
            <div class="mt-3">
          <p class="texr-gray-600 text-sm leading-6">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt autem numquam dolore
        molestias aperiam culpa alias veritatis architecto eos, molestiae vitae ex eligendi
         libero eveniet dolorem, doloremque rem aliquid perferendis.
       </p>
        </div>
      </details>
      <details class="p-4 rounded-lg "> 
        <summary class="text-sm leading-6 font-semibold" > Do I have to be a Lawyer to use Legal Room?</summary>
            <div class="mt-3">
          <p class="texr-gray-600 text-sm leading-6">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt autem numquam dolore
        molestias aperiam culpa alias veritatis architecto eos, molestiae vitae ex eligendi
         libero eveniet dolorem, doloremque rem aliquid perferendis.
       </p>
        </div>
      </details>
      <details class="p-4 rounded-lg "> 
        <summary class="text-sm leading-6 font-semibold" > What Countries can use Legal Room?</summary>
    <div class="mt-3">
  <p class="texr-gray-600 text-sm leading-6">
 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt autem numquam dolore
molestias aperiam culpa alias veritatis architecto eos, molestiae vitae ex eligendi
 libero eveniet dolorem, doloremque rem aliquid perferendis.
</p>
</div>
</details>
<details class="p-4 rounded-lg"> 
  <summary class="text-sm leading-6 font-semibold" > I have not been called to the bar, can I be a Legal Roomie?</summary>
<div class="mt-3">
<p class="texr-gray-600 text-sm leading-6">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt autem numquam dolore
molestias aperiam culpa alias veritatis architecto eos, molestiae vitae ex eligendi
libero eveniet dolorem, doloremque rem aliquid perferendis.
</p>
</div>
</details>
        


      </div>


      </div>
  </section>
  

</div>









   <!---------        Footer    ------------->
   <!--<footer class="footer_container reveal fade-bottom">
   <section class="footer_side">
    <h1 class="logo">  <b style="color:darkmagenta"> <span class="fas fa-gavel fa-rotate-180 fa-1x"></span>egal</b><b style="color:#000">Room </b></h1>
    <h2 class="copyright">&copy;2022 Shodiya Mary. All rights reserved.</h2>
    
      <ul class="social_icon">
           
        <li>  <a href="https://web.facebook.com/mary.shodiya1/"><i class="fab fa-facebook-square"></i></a> </li>
          <li><a href="https://www.instagram.com/maryahdeh/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.twitter.com/addvokeight"><i class="fab fa-twitter"></i></a></li>
           <li><a href="https://www.linkedin.com/in/mary-shodiya/"><i class="fab fa-linkedin"></i></a></li>
          </ul>
   </section>
    
   <section class="footer_side">
     <h1 class="getinfo"> Get In Touch </h1>
     <h2 class="contact_address"> Oseni, Lawanson, Lagos, Nigeria</h2> 
     <h2 class="contact_address"> Colorado, Colorado, USA</h2>
   </section>

   <section class="footer_side">
    <h1 class="getinfo"> Learn More </h1>
    <ul class="footer_link">
    <li> <a href="">About Us</a></li> 
    <li> <a href="">Terms Of Use</a> </li>
  <li>  <a href="">Privacy Policy</a> </li>
 </ul>
  </section>

  <section class="footer_side">
    <h1 class="getinfo"> Our Newsletter </h1>
    <h6 class="subscribe_header"> Subscribe to our newsletter </h6>
  <input type="email" placeholder="Email Address" class="subscribe">
  <input type="submit" value="Subscribe"> 
  </section>
   </footer>--->


   <footer class="text-center bg-mediumpurple-900 text-white reveal fade-bottom" style="background-color:mediumpurple">
    
    <div class="container px-6 pt-6">
      <div class="container pt-9">
        <div class="flex justify-center mb-9">
          
          <ul class="social_icon">
           
            <li>  <a href="https://web.facebook.com/mary.shodiya1/"><i class="fab fa-facebook-square socials-icon"></i></a> </li>
              <li><a href="https://www.instagram.com/maryahdeh/"><i class="fab fa-instagram socials-icon"></i></a></li>
              <li><a href="https://www.twitter.com/addvokeight"><i class="fab fa-twitter socials-icon"></i></a></li>
               <li><a href="https://www.linkedin.com/in/mary-shodiya/"><i class="fab fa-linkedin socials-icon"></i></a></li>
              </ul>
          
  



        </div>


      </div>
  
      <div>
        <form action="">
          <div class="grid md:grid-cols-3 gird-cols-1 gap-4 flex justify-center items-center">
            <div class="md:ml-auto md:mb-6">
              <p class="">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
  
            <div class="md:mb-6">
              <input
                type="text"
                class="
                  form-control
                  block
                  w-full
                  px-3
                  py-1.5
                  text-base
                  font-normal
                  text-white-700
                  bg-white bg-clip-padding
                  border border-solid border-black-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-black-700 focus:bg-white focus:border-blue-600 focus:outline-none
                "
                id="exampleFormControlInput1"
                placeholder="Email address"/>
            </div>
  
            <div class="md:mr-auto mb-6">
              <button type="submit" class="inline-block px-6 py-2 border-2 border-white text-black font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </div>
  
      <div class="mb-6">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </div>
  
      <div class="grid lg:grid-cols-4 md:grid-cols-2">
    
        <div class="mb-6">
          <h5 class="uppercase font-bold mb-2.5">Get In Touch</h5>
  
          <ul class="list-none mb-0">
           
             <li class="text-black">32 Oseni Street Lawanson 
             <br> Lagos, Nigeria
            </li>
            <li class="text-black">Colorado, USA  </li>
          </ul>
        </div>


        <div class="mb-6">
          <h5 class="uppercase font-bold mb-2.5">Learn More</h5>
  
          <ul class="list-none mb-0">
           
              <a href="#!" class="text-black">About Us</a>
            </li>
            <li>
              <a href="#!" class="text-black">Terms of Use & Conditions</a>
            </li>
            <li>
              <a href="#!" class="text-black">Privacy Policy </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="text-center p-4" style="background-color: #00000033;">
      © 2021 Copyright: 
      <a class="text-black" href="#">Shodiya Mary. All rights reserved</a>
    </div>
  </footer>



   


   <!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"
></script>

<!------Font Awesome Link-->
<script src="https://kit.fontawesome.com/4448a8754e.js" crossorigin="anonymous"></script>

<!-------External JS LInk---->
<script src="public/js/main.js"></script>
</body>
</html>